@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #993fc6;
	--color-secondary: #2cd4bf;
	--color-background-light: #f7f6f8;
	--color-background-dark: #0b1219;
	--color-surface-dark: #131b24;
	--color-border-dark: #232d38;

	--background-image-grid-pattern:
		linear-gradient(to right, #232d38 1px, transparent 1px),
		linear-gradient(to bottom, #232d38 1px, transparent 1px);
	--background-image-radial-glow: radial-gradient(
		circle at center,
		rgba(153, 63, 198, 0.15) 0%,
		rgba(11, 18, 25, 0) 70%
	);
}

@theme inline {
	--font-display: var(--font-space-grotesk);
	--font-body: var(--font-noto-sans);
}

@layer utilities {
	.glow {
		filter: drop-shadow(0 0 15px rgba(153, 63, 198, 0.3));
	}

	.glow-hover:hover {
		filter: drop-shadow(0 0 20px rgba(153, 63, 198, 0.5));
	}

	.text-glow {
		text-shadow: 0 0 20px rgba(153, 63, 198, 0.5);
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
